.create-event-container {
  /* border: 2px solid red; */
  height: 100vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 495px;
}

.create-event-card {
  border: 2px dotted #4688c7;
  width: 50%;
  height: 75%;
  border-radius: 5px;
  padding: 25px;
  margin-top: 20px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 495px;
}

.create-event-card h2 {
  font-family: "Helvetica";
  padding: 10px;
}

#event-span {
  color: #4688c7;
}

.create-event-form input,
.create-event-form button,
.create-event-form textarea,
.create-event-form select {
  border: 1px solid #4688c7;
  margin: 10px;
  font-size: 1rem;
  background-color: white;
  width: 70%;
  min-width: 220px;
}

.create-event-form select {
  width: 70%;
}

.create-event-form textarea {
  font-family: "Helvetica";
  height: 20%;
  width: 70%;
  min-height: 55px;
}

.create-event-form {
  /* border: 1px solid lightcoral; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  padding: 5px;
}

#time-input {
  width: 50%;
  margin-top: 0px;
}

#create-event-submit {
  margin-top: auto;
  margin-bottom: 30px;
  width: 70%;
  align-self: center;
  min-width: 220px;
}

#create-event-submit:hover {
  background-color: #4688c7;
  color: white;
}
