.event-card-container {
  border: 2px solid lightcoral;
  height: 250px;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin: 15px;
  font-family: "Helvetica";
  text-decoration: none;
}

.event-card-container img {
  object-fit: cover;
  height: 200px;
  width: 180px;
}
