.event-card-container {
  border: 1px solid #aaa;
  height: 250px;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 15px;
  font-family: "Helvetica";
  text-decoration: none;
  box-shadow: 5px 5px 3px #aaa;
}

.event-card-container img {
  object-fit: cover;
  height: 200px;
  width: 180px;
}

#event-card-title {
  text-decoration: none;
  color: black;
  padding: 10px;
}
