.footer-container {
  height: 109px;
  width: 100%;
  /* border: 1px solid red; */
  background-color: #4688c7;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.dev-profile {
  display: flex;
}

.main-footer {
  position: absolute;
  /* margin-top: 200px; */
  bottom: -109px;
  width: 100%;
}

.dev-pic {
  object-fit: cover;
  height: 100%;
}

.dev-details a {
  color: white;
}

.dev-details h3 {
  font-weight: normal;
}
