.category-underline {
  border: 1px solid rgb(209, 200, 200);
  width: 40%;
  margin-left: 3rem;
}

.categories-header {
  padding: 8px 8px 8px 16px;
}

.categories-container button {
  color: #6f7287;
  font-size: 14px;
  margin: 0px 10px;
}

.categories-container button:hover {
  /* border-bottom: 1px solid rgb(17, 17, 75); */
  color: rgb(17, 17, 75);
  background-color: rgb(250, 250, 250);
}

.categories-container h2 {
  color: #2b2b31;
  font-size: 30px;
  font-family: "Helvetica";
  /* padding-left: 25px; */
}

#category-span {
  color: #4688c7;
}
