.signup-container {
  display: flex;
  /* border: 1px solid red; */
  justify-content: center;
  padding: 0em 2em 2em 2em;
  width: auto;
  height: 30rem;
  /* border: 2px solid purple; */
}

.signup-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%;
    width: 100%; */
  /* border: 4px solid blue; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-input-div {
  padding: 0.7em;
}

#signup-btn {
  padding: 1rem 9.2rem;
  font-size: 1rem;
  margin-top: 11.2px;
  border: 1px solid #4688c7;
}

#signup-btn:hover {
  color: white;
  background-color:#4688c7;
}

.signup-input-div input {
  /* padding: 0.8rem 6rem; */
  /* padding-left: 0.6rem; */
  width: 18em;
  height: auto;
  padding: 0.7em;
  border: 1px solid rgba(216, 216, 216, 0.726);
  background: rgba(255, 255, 255, 0.726);
  font-size: 1;
}

.signup-header {
  padding: 1rem 2rem;
  margin-top: 4rem;
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid green; */
}

#signup-welcome {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  font-family: "Helvetica";
  color: rgba(0, 0, 0, 0.9);
  /* border: 1px solid red; */
}

#signup-create-acct {
  font-size: 1rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-family: "Helvetica";
  color: rgb(104, 104, 104);
  /* border: 1px solid red; */
}

.demo-container {
  padding: 5px;
}

.span-demo {
  color: #4688c7;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.span-demo:hover {
  color: #4073a3;
}
