nav {
  min-width: 548px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  /* border: 1px solid red; */
  box-shadow: 0px 4px 10px #8888884f;
}

a {
  text-decoration: none;
}

ul {
  /* border: 1px solid blue; */
  display: flex;
  list-style: none;
}

li {
  position: relative;
}

img {
  width: 120px;
  height: auto;
  padding: 0em 0.5em;
  /* border: solid 1px black; */
}

#logo-search {
  display: flex;
  align-items: center;
  /* border: solid 1px blue; */
}

@media screen and (max-width: 858px) {
  .search {
    display: none;
  }

  img {
    width: 250px;
    height: auto;
  }

  nav {
    padding: 0.5rem 3rem;
  }
}

#profile-img {
  padding-left: 7px;
}

#profile-btn {
  border-left: 1px solid rgba(187, 187, 187, 0.753);
}

button {
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: #4688c7;
  margin-left: 0.5rem;
  /* border-radius: 3px; */
}

.nav-btn-plus {
  margin-left: 0.3rem;
}

.nav-btn:hover {
  color: #43719c;
}

input,
textarea {
  font-size: 1.1rem;
  border-radius: 3px;
  font-weight: lighter;
  padding: 0.6rem;
  border: none;
  background-color: rgba(241, 243, 245, 0.705);
  outline-color: rgba(171, 200, 235, 0.726);
}

.profile-btn-container {
  /* align-items: center; */
  /* border: 1px solid red; */
  position: relative;
}

.profile-dropdow-links {
  padding: 5px;
  font-size: 1rem;
  color: #4688c7;
  font-family: "Helvetica";
}

.profile-dropdown li {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-dropdown li:hover {
  background-color: #bbdeffb9;
}
.profile-dropdow-links:hover {
  color: #548dc2;
}

.profile-dropdown {
  margin-top: 5px;
  border: 1px solid rgba(221, 221, 221, 0.466);
  width: 125%;
  height: auto;
  background-color: white;
  position: absolute;
  display: flex;
  border-top: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  border-radius: 3px;
  transform: translate(10px);
  transition: all 2s ease;
  /* display: block; */
  /* flex-direction: column; */
}

.profile-btn-container button:focus + ul {
  opacity: 1;
  transform: translate(0px);
}

.sessionlink-container {
  position: relative;
}

.sessionlink-container button {
  font-size: 1rem;
}
#navbar-search-btn {
  border: 1px solid #4688c7;
  margin: 0px;
}

.search input {
  border: 1px solid #4688c7;
  padding: 0.5rem;
  font-size: 1rem;
}

.search button {
  font-size: 1rem;
}
