.login-container {
  display: flex;
  flex-direction: column;
  padding: 2.5em 2em;
  width: 30em;
  height: 33em;
  /* border: 1px solid blue; */
  align-items: center;
  /* justify-content: space-between; */
  border-radius: 3px;
}

.login-input-div {
  padding: 0.7em;
}

/* #e-logo {
  width: 80px;
  height: auto;
}

#e-container {
  animation: rotation 2s infinite linear;
  margin-bottom: 2em;
} */

.nav-login-btn {
  padding: 4px 8px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.login-input-div input {
  /* padding: 0.8rem 6rem;
    padding-left: 0.6rem; */
  width: 100%;
  height: auto;
  padding: 1em;
  border: 1px solid rgba(216, 216, 216, 0.726);
  background: rgba(255, 255, 255, 0.726);
  font-size: 1em;
}

#login-btn {
  padding: 1rem 8.6rem;
  font-size: 1rem;
  margin-top: 11.2px;
  border: 1px solid #4688c7;
}

#login-btn:hover {
  color: white;
  background-color:#4688c7;

}

#login-title {
  /* border: 1px solid red; */
  font-size: 2.5em;
  font-family: "Helvetica";
  margin-bottom: 1em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
}

.demo-container {
  padding: 5px;
}

.span-demo {
  color: #4688c7;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.span-demo:hover {
  color: #4073a3;
}
